<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        Количество постов относящихся к категории {{category.name}} состовляет число: {{count}}, вот список этих постов:
        <br>
        <br>
        {% for post in contacts %}
            <br>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <br>
            <img src="{{ post.image.url }}" alt="" height="250px">
            <hr>
        {% endfor %}

    {% endblock %}
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <a href="{% url 'posts_list_url'%}">Back</a>
</body>
</html>
