<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h2>{{ post.title }}</h2>
        <br>
        <img src="{{ post.image.url }}" height="350px" alt="">
        <p>{{ post.text |safe}}</p>
        <br>
        <p>Автор статьи: {{ post.user }}</p>
        <br>
        <p>Относиться к категории: <a href="http://localtest.me:8000/posts/category/{{ post.category.slug }}">{{ post.category }}</a></p>
        <br>
        <p>Дата создания: {{ post.date }}</p>
        <hr>
        Количество лайков: {{ total_likes }}
        {% if request.user.is_authenticated %}

        <form action='{% url 'like_post_url' %}' method='post'>
          {% csrf_token %}
          {% if is_liked %}
            <button type='submit' name='post_id' value='{{post.id}}'>Убрать лайк</button>
          {% else %}
            <button type='submit' name='post_id' value='{{post.id}}'>Лайк</button>
          {% endif %}
        </form>
        <br>
        <p>Оставить комментарий</p>
        <form method="POST">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit"  value="подтвердить">
        </form>
        <br>
        {% else %}
        <p>Чтобы оставить лайк <a href="{% url 'user_login_url'%}">войдите</a> на сайт или <a href="{% url 'register_url'%}">зарегестрируйтесь</a></p>
        {% endif %}
        <hr>
        <p>Всего комментариев: {{ total }}</p>
        <br>
        <p>
          {% for comments in contacts %}
              <p>{{ comments.user }}: {{ comments.text}}</p>
              <br>
          {% endfor %}
        </p>

    {% endblock %}
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<hr>
    <a href="{% url 'posts_list_url'%}">Back</a>
</body>
</html>
