<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h2>{{ post.title }}</h2>
        <br>
        <img src="{{ post.image.url }}" height="350px" alt="">
        <p>{{ post.text |safe}}</p>
        <br>
        <p>Автор статьи: {{ post.user }}</p>
        <br>
        <p>Относиться к категории: <a href="http://localtest.me:8000/posts/category/{{ post.category }}">{{ post.category }}</a></p>
        <br>
        <p>Дата создания: {{ post.date }}</p>

    {% endblock %}
    <a href="{% url 'posts_list_url'%}">Back</a>
</body>
</html>
