<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  Категории:
    {% for categories in category %}
       <br>
       <a href="{{ categories.get_absolute_url }}">{{ categories.name }} </a>
    {% endfor %}
    <br>
  Посты:
    {% for post in posts %}
        <br>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    {% endfor %}
</body>
</html>
