<a href="{% url 'post_random_url'%}">Случайный пост</a>
<hr>
{% for post in posts %}
    <a href="http://localtest.me:8000/posts/{{ post.slug}}">Оригинал статьи</a>
    <br>
    <h2>{{ post.title }}</h2>
    <br>
    <img src="{{ post.image.url }}" height="350px" alt="">
    <p>{{ post.text |safe}}</p>
    <br>
    <p>Автор статьи: {{ post.user }}</p>
    <br>
    <p>Относиться к категории: <a href="http://localtest.me:8000/posts/category/{{ post.category }}">{{ post.category }}</a></p>
    <br>
    <p>Дата создания: {{ post.date }}</p>
{% endfor %}
<a href="{% url 'posts_list_url'%}">Back</a>
